h1 {
  margin-bottom: var(--space-3);
}

section {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-grey-100);
  border-radius: var(--radius);
}

.transactions-list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-grey-100);
}

.transaction-header {
  background-color: var(--clr-grey-100);
  display: flex;
  justify-content: space-between;
  padding: var(--space-3);
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-3);
  border-top: 1px solid var(--clr-grey-100);
  text-decoration: none;
  color: var(--clr-grey-400);

  &:hover {
    background-color: #e2e2e2;
  }
}
