<section *ngIf="transaction$ | async as transaction">
  <button routerLink="/" class="back-btn">Back</button>
  <article>
    <h1 class="title">{{ transaction.otherParty?.name || 'Unknown' }}</h1>
    <ul class="details">
      <li><strong>Date:</strong> {{ transaction.timestamp | date: 'medium' }}</li>
      <li>
        <strong>Amount:</strong> €
        {{ transaction.amount | eur: transaction.currencyCode : transaction.currencyRate }}
      </li>
      <li><strong>Description:</strong> {{ transaction.description }}</li>
      <li><strong>IBAN:</strong>{{ transaction.otherParty?.iban }}</li>
    </ul>
  </article>
</section>
